body {
    background-color: #A5D7D4;
}
.form2-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form2-container h2 {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.form2-container .input-group {
    margin-bottom: 15px;
}

.form2-container label {
    display: inline-block;
    width: 100px;
}
.form2-container .textarea{
    resize: none;
}
.form2-container .btn{
    background-color: #D3D3D3;
    border: 1px solid #000;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
}